.espaco {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .25fr repeat(2, 1fr) repeat(2, .50fr);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    justify-content: center;
    }
    
    .item1{ 
        grid-area: 1 / 1 / 2 / 3; 
        padding-top: 25px;
    }
    .item2 { grid-area: 2 / 1 / 3 / 6; }
    .item3 { grid-area: 3 / 1 / 4 / 2; }
    .item4 { grid-area: 3 / 2 / 4 / 3; }
    .item5 { grid-area: 3 / 3 / 4 / 4; }
    .item6 { grid-area: 3 / 4 / 4 / 5; }
    .item7 { grid-area: 3 / 5 / 4 / 6; }
    .item8 { 
        grid-area: 4 / 1 / 5 / 4; 
        color: var(--text-color-light);
        justify-content: center;
    }
    .item9 { 
        grid-area: 5 / 1 / 6 / 6; 
        justify-content: center;
    }


.espaco__button {
    background-color: var(--first-color);
    color: white;
    width: 100%;
    height: 50%;
    border-radius: 0;
    text-align: center;
    padding-top: 25px;
}





